@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');

/* utility start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Belanosima', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, slateblue, skyblue);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background-image: radial-gradient(circle at 99% 33%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 37%,transparent 37%, transparent 100%),radial-gradient(circle at 46% 16%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 43%,transparent 43%, transparent 100%),radial-gradient(circle at 99% 25%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 22%,transparent 22%, transparent 100%),radial-gradient(circle at 57% 88%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 86%,transparent 86%, transparent 100%),radial-gradient(circle at 82% 78%, hsla(235,0%,48%,0.03) 0%, hsla(235,0%,48%,0.03) 22%,transparent 22%, transparent 100%),linear-gradient(90deg, rgb(0,0,0),rgb(0,0,0));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container {
    margin: 0 auto;
    padding: 0 0.8rem;
    max-width: 1300px;
    height: auto;
}
/* utility end */



/* header start */
.header {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header > a {
    font-size: 2.4rem;
    font-weight: bold;
    text-decoration: none;
    background-image: repeating-linear-gradient(135deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(45deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(67.5deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(135deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(45deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(112.5deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(112.5deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(45deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(22.5deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(45deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(22.5deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(135deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(157.5deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(67.5deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(67.5deg, hsla(264,0%,88%,0.03) 0px, hsla(264,0%,88%,0.03) 1px,transparent 1px, transparent 12px),linear-gradient(90deg, rgb(151, 26, 210),rgb(57, 199, 205));    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.toggler {
    width: 50px;
    height: 45px;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: 0.1rem;
    z-index: 999;
}

.toggle-bar {
    position: relative;
    height: 3px;
    width: 32px;
    background: #fff;
    transition: all 0.3s ease;
}

.toggle-bar::before {
    position: absolute;
    content: '';
    top: -0.7rem;
    left: 0;
    height: 3px;
    width: 32px;
    background: #fff;
    transition: all 0.3s ease;
}

.toggle-bar::after {
    position: absolute;
    content: '';
    top: 0.7rem;
    left: 0;
    height: 3px;
    width: 32px;
    background: #fff;
    transition: all 0.3s ease;
}

.toggler.active .toggle-bar {
    background: transparent;
    transform: rotate(40deg);
}

.toggler.active .toggle-bar::before {
    transform: rotate(-85deg);
    top: 0;
}

.toggler.active .toggle-bar::after {
    transform: rotate(5deg);
    top: 0;
}

/* navbar start */
.nav-box {
    position: absolute;
    top: 5rem;
    right: 0;
    width: 260px;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(2rem);
    transition: all 0.3s ease;
    overflow: hidden;
    z-index: 99999;
    border-radius: 1.2rem;
}

.nav-box.active-nav {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.nav-left {
    list-style-type: none;
    height: auto;
    max-height: 400px;
    min-width: 260px;
    overflow-y: auto;
    background: #222;
    border: 1px solid #000;
    border-radius: 1.2rem;
    pointer-events: auto;
    transform: translate(0);
    transition: all 0.3s ease;
}

.nav-left.active-right {
    pointer-events: none;
    transform: translate(-100%);
}

.nav-right {
    min-width: 260px;
    max-height: 400px;
    background: #222;
    border: 1px solid #000;
    border-radius: 1.2rem;
    overflow-y: auto;
    pointer-events: none;
    transform: translate(0);
    transition: all 0.3s ease;
}

.nav-right.active-right {
    pointer-events: auto;
    transform: translate(-100%);
}

.nav-right ul {
    width: 100%;
    display: none;
}

.nav-right ul.active-list {
    display: block;
}

.nav-left li,
.nav-left > a,
.nav-right ul li {
    padding: 0.8rem;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.nav-left li {
    border-bottom: 1px solid #000;
}

.nav-right ul li:first-child {
    padding: 0.8rem;
    background: #333;
    border-bottom: 1px solid #000;
}

.nav-right ul li {
    padding: 0;
}

.nav-right ul li a {
    padding: 0.8rem;
    height: 100%;
    width: 100%;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-left li:hover,
.nav-right ul li:hover,
.nav-left a:hover,
.nav-right ul li a:hover {
    background: #333;
}
/* navbar end */
/* header end */



/* projects start */
.projects {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
}

.card {
    height: 300px;
    width: 100%;
    background: #111;
    border: 1px solid #000;
    border-radius: 1.2rem;
    overflow: hidden;
}

.thumb {
    position: relative;
    height: 80%;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.thumb img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.thumb:hover img {
    transform: scale(1.2);
}

.thumb .tags {
    position: absolute;
    bottom: 1rem;
    left: 0.85rem;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0.12rem;
    z-index: 999;
}

.thumb .tags span {
    padding: 0.2rem 0.6rem;
    margin-right: 0.12rem;
    color: #fff;
    font-size: 1rem;
    border-radius: 1.4rem;
    text-shadow: 0.1rem 0.1rem 0.2rem #111;
    box-shadow: 0.1rem 0.1rem 0.2rem #222;
}

.thumb .tags span.html {
    background: #de5e02;
}

.thumb .tags span.css {
    background: #11a9fb;
}

.thumb .tags span.javascript {
    background: #d2ae10;
}

.title {
    padding-left: 0.85rem;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.title p {
    color: #fff;
    font-size: 1.2rem;
}
/* projects end */



/* footer start */
footer {
    margin: 5rem 0 3rem 0;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: #333;
    font-size: 1.2rem;
    text-shadow: 0.1rem 0.1rem 0.2rem #111;
}

footer p a {
    color: #333;
    text-decoration: underline;
}
/* footer end */



@media screen and (max-width: 1020px) {
    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 680px) {
    .projects {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 440px) {
    footer p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 350px) {
    footer p {
        font-size: 0.9rem;
    }
}